body {
    background-image: url("images/gradient.jpg");
    background-repeat: repeat;
    background-size: 500px 500px;
}

.greentexture {
    margin-top: 10px;
    text-align: center
}

.card. playingcards1. playingcards2. playingcards3. playingcards4 {
    position: absolute;
}

.card {
    z-index: 1;
    margin-top: -250px;
    text-align: center;
}

.playingcards1 {
    z-index: 2;
    margin-top: -75px;
    text-align: center;
}

.playingcards2 {
    z-index: 3;
    margin-top: -80px;
    text-align: center;
}

.playingcards3 {
    z-index: 4;
    margin-top: -85px;
    text-align: center;
}

.playingcards4 {
    z-index: 5;
    margin-top: -90px;
    text-align: center;
}